# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# mac
.DS_Store

# yarn
yarn.lock

# serverless-plugin-typescript
.build

# env
.env